/*Certain elements have their color set to RGBA(*,*,*) Without a alpha value
DO NOT TAKE OUT THE 'A' IN 'RGBA' IF A ELEMENT IS LIKE THAT
*/
.fb-btn{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    
}
.fb-btn-rounded1{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-radius: 0.2em;
}
.fb-btn-rounded1-tr{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-right-radius: 0.2em;
}
.fb-btn-rounded1-tl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-left-radius: 0.2em;
}
.fb-btn-rounded1-br{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-right-radius: 0.2em;
}
.fb-btn-rounded1-bl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-left-radius: 0.2em;
}


.fb-btn-rounded2{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-radius: 0.3em;
}
.fb-btn-rounded2-tl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-left-radius: 0.3em;
}
.fb-btn-rounded2-tr{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-right-radius: 0.3em;
}
.fb-btn-rounded2-bl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-left-radius: 0.3em;
}
.fb-btn-rounded2-br{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-right-radius: 0.3em;
}




.fb-btn-rounded3{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-radius: 0.5em;
}
.fb-btn-rounded3-tr{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-right-radius: 0.5em;
}
.fb-btn-rounded3-tl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-left-radius: 0.5em;
}
.fb-btn-rounded3-bl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-left-radius: 0.5em;
}
.fb-btn-rounded3-br{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-right-radius: 0.5em;
}





.fb-btn-rounded4{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-radius: 0.8em;
}
.fb-btn-rounded4-tl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-left-radius: 0.8em;
}
.fb-btn-rounded4-tr{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-right-radius: 0.8em;
}
.fb-btn-rounded4-bl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-left-radius: 0.8em;
}
.fb-btn-rounded4-br{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-right-radius: 0.8em;
}







.fb-btn-rounded5{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-radius: 1em;
}
.fb-btn-rounded5-tl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-left-radius: 1em;
}
.fb-btn-rounded5-tr{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-top-right-radius: 1em;
}
.fb-btn-rounded5-bl{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-left-radius: 1em;
}
.fb-btn-rounded5-br{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-bottom-right-radius: 1em;
}










.fb-btn-pill{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    border-radius: 10em;
    
}
button:focus {outline:0;}/*get rid of blue outline when button active*/


.fb-btn-word-primary{
    display: block;
    position: relative;
    font-size: 3em;
    width: 2em;
    color: rgb(65, 178, 255);
    text-shadow:0em 0.03em 0em rgb(38, 138, 211), 
        0em 0.05em 0em rgb(38, 138, 211),
        0em 0.07em 0em rgb(38, 138, 211),
        0em 0.09em 0em rgb(38, 138, 211);
    cursor: pointer;
    font-family: "arial";
}
.fb-btn-word-primary:hover{
    display: block;
    position: relative;
    font-size: 3em;
    width: 2em;
    color: rgb(113, 198, 255);
    text-shadow:0em 0.03em 0em rgb(38, 138, 211), 
        0em 0.05em 0em rgb(38, 138, 211),
        0em 0.06em 0em rgb(38, 138, 211),
        0em 0.09em 0em rgb(38, 138, 211),
        0em 0.11em 0em rgb(38, 138, 211);
    cursor: pointer;
    
}
.fb-btn-word-primary:active{
    display: block;
    position: relative;
    font-size: 3em;
    width: 2em;
    color:  rgb(51, 154, 252);
    text-shadow:0em 0.03em 0em rgb(38, 138, 211),
        0em 0.04em 0em rgb(38, 138, 211),
        0em 0.05em 0em rgb(38, 138, 211),
        0em 0.06em 0em rgb(38, 138, 211);
      
    cursor: pointer;
    
}


/* 
fb-btn-primary
Primary button
Fab
Fab-Button
*/

/*UNTOUCHED*/
.fb-btn-primary{
    color: white; /*Font Color*/
    background: rgb(65, 178, 255);/*Primary Background color*/
    border-bottom: 0.3em solid rgb(38, 138, 211);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-primary:hover{
    color: white; /*Font Color*/
    background: rgb(113, 198, 255);/*Primary Background color*/
    border-bottom: 0.39em solid rgb(38, 138, 211);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    
    
}
/*CLICKED*/
.fb-btn-primary:active{
    color: white; /*Font Color*/
    background: rgb(51, 154, 252);/*Primary Background color*/
    border-bottom: 0.25em solid rgb(42, 140, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}







/* 
fb-btn-action
Action button
Fab
Fab-Button
*/

/*UNTOUCHED*/
.fb-btn-action{
    color: white; /*Font Color*/
    background: rgb(1, 239, 103);/*Primary Background color*/
    border-bottom: 0.3em solid rgb(23, 191, 99);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-action:hover{
    color: white; /*Font Color*/
    background: rgb(48, 242, 95);/*Primary Background color*/
    border-bottom: 0.39em solid rgb(23, 191, 99);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    
}
/*CLICKED*/
.fb-btn-action:active{
    color: white; /*Font Color*/
    background: rgb(3, 226, 96);/*Primary Background color*/
    border-bottom: 0.25em solid rgb(23, 191, 99);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}









/* 
fb-btn-caution
Caution button
Fab
Fab-Button
*/

/*UNTOUCHED*/
.fb-btn-caution{
    color: white; /*Font Color*/
    background: rgb(244, 103, 0);/*Primary Background color*/
    border-bottom: 0.3em solid rgb(234, 91, 7);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-caution:hover{
    color: white; /*Font Color*/
    background: rgb(247, 122, 31);/*Primary Background color*/
    border-bottom: 0.39em solid rgb(234, 91, 7);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    
}
/*CLICKED*/
.fb-btn-caution:active{
    color: white; /*Font Color*/
    background: rgb(244, 103, 0);/*Primary Background color*/
    border-bottom: 0.25em solid rgb(234, 91, 7);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}









/* 
fb-btn-danger
Danger button
Fab
Fab-Button
BIG PUSHY BUTTON OF DEAAAAAAATTTTHHHH!
*/

/*UNTOUCHED - DONT TOUCH DE BUTTTON!*/
.fb-btn-danger{
    color: white; /*Font Color*/
    background:rgb(242, 34, 13);/*Primary Background color*/
    border-bottom: 0.3em solid rgb(232, 22, 6);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER - What!?...You better not....Dont even...no.....*/
.fb-btn-danger:hover{
    color: white; /*Font Color*/
    background: rgb(255, 23, 0);/*Primary Background color*/
    border-bottom: 0.39em solid rgb(224, 33, 19);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*CLICKED - Well their goes Pakistan*/
.fb-btn-danger:active{
    color: white; /*Font Color*/
    background: rgb(247, 0, 28);/*Primary Background color*/
    border-bottom: 0.25em solid rgb(224, 33, 19);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}






/* 
fb-btn-secondary
Secondary button
Fab
Fab-Button
Just a purple button.....
*/

/*UNTOUCHED - Did you know that Purple in Roman times was only for superior or royal*/
.fb-btn-secondary{
    color: white; /*Font Color*/
    background:rgb(142, 5, 198);/*Primary Background color*/
    border-bottom: 0.3em solid rgb(126, 19, 181);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER - Im gonna keep bugging you, you destroyed a mighty country indeed!*/
.fb-btn-secondary:hover{
    color: white; /*Font Color*/
    background: rgb(161, 0, 227);/*Primary Background color*/
    border-bottom: 0.39em solid rgb(126, 19, 181);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
   
}
/*CLICKED - LETS BE FRIENDS*/
.fb-btn-secondary:active{
    color: white; /*Font Color*/
    background: rgb(149, 32, 209);/*Primary Background color*/
    border-bottom: 0.25em solid rgb(126, 19, 181);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}










/* 
fb-btn-background
Background button
Fab
Fab-Button
A background instance.
*/

/*UNTOUCHED*/
.fb-btn-background{
    color: white; /*Font Color*/
    background:rgb(0, 204, 181);/*Primary Background color*/
    border-bottom: 0.3em solid rgb(16, 176, 149);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-background:hover{
    color: white; /*Font Color*/
    background: rgb(0, 221, 196);/*Primary Background color*/
    border-bottom: 0.39em solid rgb(16, 176, 149);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    
}
/*CLICKED*/
.fb-btn-background:active{
    color: white; /*Font Color*/
    background: rgb(0, 216, 179);/*Primary Background color*/
    border-bottom: 0.25em solid rgb(16, 176, 149);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}












