/*Certain elements have their color set to RGBA(*,*,*) Without a alpha value
DO NOT TAKE OUT THE A IN RGBA IF A ELEMENT IS LIKE THAT
*/
.fb-btn{
    height: 3em;
    width: 18em;
    color: black;
    background: white;
    border: none;
    position:relative;
    display: block;
    margin-top: 0.8em;
    
}
button:focus {outline:0;}/*get rid of blue outline when button active*/


/* 
fb-btn-primary
Primary button
Fab
Fab-Button
*/

/*UNTOUCHED*/
.fb-btn-primary{
    color: white; /*Font Color*/
    background: rgb(52, 152, 219);/*Primary Background color*/
    border-right: 0.3em solid rgb(42, 140, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-primary:hover{
    color: white; /*Font Color*/
    background: rgb(55, 168, 244);/*Primary Background color*/
    border-right: 0.3em solid rgba(45, 156, 237);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    box-shadow: 0.1em 0.15em 0.1em 0.01em rgba(28, 28, 28, 0.34);/*Best to keep same*/
}
/*CLICKED*/
.fb-btn-primary:active{
    color: white; /*Font Color*/
    background: rgb(52, 142, 219);/*Primary Background color*/
    border-right: 0.3em solid rgba(42, 132, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}






/* 
fb-btn-action
Action button
Fab
Fab-Button
*/

/*UNTOUCHED*/
.fb-btn-action{
    color: white; /*Font Color*/
    background: rgb(46, 204, 113);/*Primary Background color*/
    border-right: 0.3em solid rgb(36, 192, 106);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-action:hover{
    color: white; /*Font Color*/
    background: rgb(49, 220, 138);/*Primary Background color*/
    border-right: 0.3em solid rgba(45, 156, 237);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    box-shadow: 0.1em 0.15em 0.1em 0.01em rgba(28, 28, 28, 0.34);/*Best to keep same*/
}
/*CLICKED*/
.fb-btn-action:active{
    color: white; /*Font Color*/
    background: rgb(46, 194, 113);/*Primary Background color*/
    border-right: 0.3em solid rgba(42, 132, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}









/* 
fb-btn-caution
Caution button
Fab
Fab-Button
*/

/*UNTOUCHED*/
.fb-btn-caution{
    color: white; /*Font Color*/
    background: rgb(230, 126, 34);/*Primary Background color*/
    border-right: 0.3em solid rgb(220, 114, 27);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-caution:hover{
    color: white; /*Font Color*/
    background: rgb(233, 142, 59);/*Primary Background color*/
    border-right: 0.3em solid rgba(45, 156, 237);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    box-shadow: 0.1em 0.15em 0.1em 0.01em rgba(28, 28, 28, 0.34);/*Best to keep same*/
}
/*CLICKED*/
.fb-btn-caution:active{
    color: white; /*Font Color*/
    background: rgb(230, 116, 34);/*Primary Background color*/
    border-right: 0.3em solid rgba(42, 132, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}









/* 
fb-btn-danger
Danger button
Fab
Fab-Button
BIG PUSHY BUTTON OF DEAAAAAAATTTTHHHH!
*/

/*UNTOUCHED - DONT TOUCH DE BUTTTON!*/
.fb-btn-danger{
    color: white; /*Font Color*/
    background:rgb(231, 76, 60);/*Primary Background color*/
    border-right: 0.3em solid rgb(221, 62, 53);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER - What!?...You better not....Dont even...no.....*/
.fb-btn-danger:hover{
    color: white; /*Font Color*/
    background: rgb(234, 92, 85);/*Primary Background color*/
    border-right: 0.3em solid rgba(45, 156, 237);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    box-shadow: 0.1em 0.15em 0.1em 0.01em rgba(28, 28, 28, 0.34);/*Best to keep same*/
}
/*CLICKED - Well their goes Pakistan*/
.fb-btn-danger:active{
    color: white; /*Font Color*/
    background: rgb(234, 66, 85);/*Primary Background color*/
    border-right: 0.3em solid rgba(42, 132, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}






/* 
fb-btn-secondary
Secondary button
Fab
Fab-Button
Just a purple button.....
*/

/*UNTOUCHED - Did you know that Purple in Roman times was only for superior or royals*/
.fb-btn-secondary{
    color: white; /*Font Color*/
    background:rgb(155, 89, 182);/*Primary Background color*/
    border-right: 0.3em solid rgb(145, 77, 175);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER - Im gonna keep bugging you, you destroyed a mighty country indeed!*/
.fb-btn-secondary:hover{
    color: white; /*Font Color*/
    background: rgb(158, 105, 207);/*Primary Background color*/
    border-right: 0.3em solid rgba(45, 156, 207);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    box-shadow: 0.1em 0.15em 0.1em 0.01em rgba(28, 28, 28, 0.34);/*Best to keep same*/
}
/*CLICKED - LETS BE FRIENDS*/
.fb-btn-secondary:active{
    color: white; /*Font Color*/
    background: rgb(155, 79, 182);/*Primary Background color*/
    border-right: 0.3em solid rgba(42, 132, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}










/* 
fb-btn-background
Background button
Fab
Fab-Button
A background instance.
*/

/*UNTOUCHED*/
.fb-btn-background{
    color: white; /*Font Color*/
    background:rgb(26, 188, 156);/*Primary Background color*/
    border-right: 0.3em solid rgb(16, 176, 149);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
/*HOVER*/
.fb-btn-background:hover{
    color: white; /*Font Color*/
    background: rgb(29, 204, 181);/*Primary Background color*/
    border-right: 0.3em solid rgba(45, 156, 207);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
    box-shadow: 0.1em 0.15em 0.1em 0.01em rgba(28, 28, 28, 0.34);/*Best to keep same*/
}
/*CLICKED*/
.fb-btn-background:active{
    color: white; /*Font Color*/
    background: rgb(26, 198, 156);/*Primary Background color*/
    border-right: 0.3em solid rgba(42, 132, 212);/*Darkend border(3D Feeling) */
    /*If changing color, change border color (-10,-12,-7)*/
}
