@import "../properties/_Letter.less";

.fb-btn-letter-primary{
display: block;
cursor: pointer;
font-family: "arial";
color: @btncolr-primary;
font-size: 5rem;
}

.fb-btn-letter-primary:hover{
display: block;
cursor: pointer;
color: @btncolr-primaryHOVER;
.fbhoverl
}

.fb-btn-letter-primary:active{
    display: block;
cursor: pointer;
color: @btncolr-primaryACTIVE;
    .fbactivel
}